{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{{url_for('static',filename='assets/img/home-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{params['title_blog']}} Admin Panel</h1>
                    <span class="subheading">Manage all your posts here</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-12">
            <div style="text-align: center;">
                <a href="/login"><button class="btn btn-primary text-uppercase">Dashboard</button></a>
                <a href="/logout"><button class="btn btn-primary text-uppercase">Logout</button></a>
            </div>
            <hr>
            <!-- Image Uploader
            <form action="/uploader" method="post" enctype="multipart/form-data">
                <input type="file" name="file1">
                <button type="submit" class="btn btn-primary text-uppercase">Upload</button>
            </form> -->
            <!-- <hr> -->
            <form id="contactForm" action="/add/0" method="post" data-sb-form-api-token="API_TOKEN"
                enctype="multipart/form-data">
                <div class="form-floating">
                    <input class="form-control" id="title" name="title" type="text" placeholder="Title" required />
                    <label for="title">Title</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">A title is required.</div>
                </div>
                <div class="form-floating">
                    <input class="form-control" id="subtitle" name="subtitle" type="text" placeholder="Subtitle"
                        required />
                    <label for="subtitle">Sub Title</label>
                    <div class="invalid-feedback" data-sb-feedback="email:required">A subtitle is required.</div>
                </div>
                <!-- <div class="form-floating">
                    <input class="form-control" id="slug" name="slug" type="text" placeholder="Slug" required />
                    <label for="slug">Slug</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">A Slug is required.</div>
                </div> -->
                <div class="form-floating">
                    <textarea class="form-control" id="content" name="content" placeholder="Enter your content here"
                        style="height: 12rem" required></textarea>
                    <label for="content">Content</label>
                    <div class="invalid-feedback" data-sb-feedback="message:required">A content is required.
                    </div>
                </div>
                <!-- <div class="form-floating">
                    <input class="form-control" id="img_file" name="img_file" type="text" placeholder="Image File" />
                    <label for="img_file">Image File</label>
                </div> -->
                <div class="form-floating">
                    Background Image File (optional)<br>
                    <input class="form-control" type="file" name="file1">
                </div>
                <div class="form-floating">
                    <input class="form-control" id="writer" name="writer" type="text" placeholder="Writer" required />
                    <label for="writer">Writer</label>
                    <div class="invalid-feedback" data-sb-feedback="name:required">A Writer is required.</div>
                </div>
                <br />

                <div style="text-align: center;">
                    <button class="btn btn-primary" id="resetButton" type="reset">Reset</button>
                    <button class="btn btn-primary" id="submitButton" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}